:root {
  /* fonts */
  --main-font: "Open Sans";
  --secondary-font: "Raleway";

  /* text colors */
  --accent-txt-cl: #ff6c00;
  --main-light-theme: #303030;
  --main-dark-theme: #ffffff;

  /* bg-colors */

  /* others */
  --items: 1;
  --indent: 30px;
  --anim: 300ms ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  line-height: 1.67;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
  cursor: pointer;
}

/* common styles start */
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red; */
  /* outline-offset: -2px; */
}
.link {
  text-decoration: none;
  color: currentColor;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn {
  max-width: 200px;
  min-width: 160px;
  min-height: 40px;
  padding: 11px 19px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  background-color: transparent;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  cursor: pointer;

  transition: color var(--anim), background-color var(--anim);
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-txt-cl);
  color: var(--main-dark-theme);
}
.btn-mode-light {
  color: var(--main-light-theme);
}
.btn-mode-dark {
  color: var(--main-dark-theme);
}
.socials-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--main-light-theme);
  transition: color var(--anim);
}
.socials-link:hover,
.socials-link:focus {
  color: var(--accent-txt-cl);
}
.uppertitle {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.uppertitle-mode-light {
  color: #303030;
}
.uppertitle-mode-dark {
  color: rgba(157, 164, 189, 0.6);
}
.uppertitle::before {
  content: "";
  display: inline-block;
  margin-right: 20px;
  width: 60px;
  height: 1px;
}
.uppertitle-mode-light::before {
  background-color: #303030;
}
.uppertitle-mode-dark::before {
  background-color: rgba(157, 164, 189, 0.6);
}
.main-title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 72px;
  line-height: 85px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.section-title {
  margin-bottom: 44px;

  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.05em;
}
.section-title-mode-light {
  color: #303030;
}
.section-title-mode-dark {
  color: #ffffff;
}

/**
  |============================
  | Сітка на display: flex;
  |============================
*/
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.card-set-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

/* visually-hidden */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* common styles end */
/**
  |============================
  | header
  |============================
*/
.page-header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  width: 100%;

  transition: background-color var(--anim), backdrop-filter var(--anim), box-shadow var(--anim);
}
.page-header.js-no-transparency {
  background-color: rgba(16, 18, 27, 0.4);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(25, 28, 38, 0.4);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
  margin-right: 72px;
}
.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header-link {
  display: block;
  padding-top: 52px;
  padding-bottom: 52px;

  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--main-dark-theme);

  transition: color var(--anim);
}
.current-link {
  position: relative;
  color: var(--accent-txt-cl);
}
.current-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(-20px);
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #ff6c00;

  transition: color var(--anim);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-txt-cl);
}
.header-group {
  margin-left: auto;
}
.header-contact {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: var(--main-dark-theme);
}
.header-btn {
  margin-left: 40px;
}

/**
  |============================
  | hero section
  |============================
*/
.hero {
  position: relative;
  max-width: 1280px;

  margin-left: auto;
  margin-right: auto;
  background-color: #191c26;
  background-image: url(../images/hero/hero-bg.jpg),
    linear-gradient(to right, #fff 155px, #191c26 155px);
  background-repeat: no-repeat;
  background-position: top right, center;
}
.hero-container {
  display: flex;
}
.hero-wrapper {
  display: flex;
  align-items: flex-end;
}
.hero-list {
  display: flex;
  align-items: center;
  gap: 40px;
  transform: translateY(-40px) rotate(270deg);
  transform-origin: top left;
}
.hero-list::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #303030;
}
.hero-group {
  width: 500px;
  padding-top: 272px;
  padding-bottom: 206px;
}
.hero-desc {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.pagination {
  position: absolute;
  top: 50%;
  right: 55px;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}
.pagination-item {
  width: 8px;
  height: 2px;
  background-color: #9da4bd;
}
.current-slide {
  width: 18px;
  background-color: #ffffff;
}
.slider-controls {
  position: absolute;
  bottom: 40px;
  right: 55px;
  display: flex;
  align-items: center;
  gap: 26px;
}
.slider-controls-btn {
  min-width: 60px;
  max-width: 70px;
  padding: 0;
  padding-bottom: 8px;

  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: #ffffff;
  text-align: right;

  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}
.slider-disable-btn {
  text-align: left;
  filter: grayscale(1);
  color: rgba(157, 164, 189, 0.6);
  border-color: rgba(157, 164, 189, 0.6);
}
/**
  |============================
  | about
  |============================
*/
.about-container {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
}
.about-group {
  flex-basis: 500px;
  margin-left: auto;
}
.about-subtitle {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-text {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
/**
  |============================
  | price
  |============================
*/
.price {
  /* background-image: url(https://images.unsplash.com/photo-1655769135684-e35826d4859d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed; */
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-color: #111319;
  background-image: linear-gradient(
      rgb(255, 0, 0, 0.3) 100px,
      rgba(0, 0, 255, 0.3) 100px,
      rgba(0, 0, 255, 0.3) 200px,
      rgba(0, 255, 0, 0.3)
    ),
    url(../images/price/price-bg.png);
  background-image: url(../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.price-list {
  display: flex;
  color: #9da4bd;
  margin-bottom: 50px;
}
.price-item {
  flex-basis: 50%;
}
.price-item:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.price-item:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.price-inner-list {
  padding: 30px 40px;
}
.price-inner-item {
  display: flex;
  align-items: baseline;
}
.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}
.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Оформлення риски в прайсі між послугою та ціною */
.price-inner-item::before {
  content: "";
  display: inline-block;

  flex-grow: 1;

  /* width: 100%; */
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;
  background-color: rgba(157, 164, 189, 0.12);
}
.price-inner-txt {
  flex-shrink: 0;
}
.price-inner-txt:first-child {
  order: -1;
}
/**
  |============================
  | benefits
  |============================
*/
.benefits-container {
  display: flex;
}
.benefits-group {
  flex-basis: 500px;
  margin-left: auto;
}

.benefits-list {
  width: 370px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0 auto;
}

.benefits-item {
  width: 170px;
  min-height: 133px;
  padding: 20px;
  background-color: #f7f7f7;
  text-align: center;
}

.benefits-item:nth-child(2n + 1) {
  margin-bottom: 30px;
  margin-right: 30px;
}

.benefits-quantity {
  position: relative;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
  text-align: center;
  letter-spacing: 0.05em;

  color: #303030;
}

.benefits-quantity::after {
  position: absolute;
  top: 0;
  right: 15px;
  content: "\002B";
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: center;

  color: #ff6c00;
}
.benefits-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;

  color: #303030;
}
/**
  |============================
  | team
  |============================
*/
.team {
  background-color: #f7f7f7;
}
.team-list {
  --items: 3;
  --indent: 30px;
}

.team-item {
  background-color: #f7f7f7;
}

.team-wrapper {
  padding-top: 30px;
}
.team-subtitle {
  margin-bottom: 8px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}
.team-position {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff6c00;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.team-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  /* color: #303030; */
  background-color: #fff;
  border-radius: 50%;
}

/* .team-link:hover,
.team-link:focus {
  color: #ff6c00;
} */

/* .team-icon {
  fill: currentColor;
} */

.team-icon {
  fill: #303030;
  transition: fill var(--anim);
}

.team-link:hover .team-icon,
.team-link:focus .team-icon {
  fill: #ff6c00;
}
/**
  |============================
  | portfolio
  |============================
*/
.portfolio-list {
  --items: 4;
  --indent: 30px;
}
/**
  |============================
  | contacts section
  |============================
*/
.contacts {
  height: 644px;
  background-color: #191c26;
  background-image: url(../images/contacts/contacts-bg-1.png);

  background-repeat: no-repeat;
  background-size: contain;
  background-position: top 50% left calc(50% + 312px);
}

.contacts-address {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
/**
  |============================
  | footer section
  |============================
*/

/**
  |============================
  | form
  |============================
*/
.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 20px;
  width: 400px;
  min-height: 500px;
  background-color: #fff;
  border-radius: 10px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

label {
  display: block;
}
