/* ========================= */

.contacts-form-message {
  padding: 10px 5px;
  width: 100%;
  height: 76px;

  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.1em;
  color: #ffffff;

  background-color: transparent;
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  resize: none;
}

.contacts-form-message:not(:placeholder-shown):focus + .contacts-form-label {
  color: #ffffff;
  transform: translateY(-10px) scale(0.7);
}
