:root {
  /* fonts */
  --main-font: "Open Sans";
  --secondary-font: "Raleway";

  /* text colors */
  --accent-txt-cl: #ff6c00;
  --main-light-theme: #303030;
  --main-dark-theme: #ffffff;

  /* bg-colors */

  /* others */
  --items: 1;
  --indent: 30px;
  --anim: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
