/**
  |============================
  | portfolio
  |============================
*/
.portfolio__uppertitle {
  margin-bottom: 44px;
}

.portfolio-list {
  --items: 1;
  --indent: 30px;

  @media screen and (min-width: 768px) {
    --items: 2;
  }

  @media screen and (min-width: 1280px) {
    --items: 4;
  }
}
