.price {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;

  background-color: #111319;
  background-image: linear-gradient(
      rgb(255, 0, 0, 0.3) 100px,
      rgba(0, 0, 255, 0.3) 100px,
      rgba(0, 0, 255, 0.3) 200px,
      rgba(0, 255, 0, 0.3)
    ),
    url(../images/price/price-bg.png);
  background-image: url(../images/price/price-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.price-list {
  padding: 30px;
  margin-bottom: 50px;

  color: #9da4bd;

  @media screen and (max-width: 767px) {
    font-size: 14px;
    line-height: calc(20 / 14);
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 30px 40px;
  }

  @media screen and (min-width: 1280px) {
    display: flex;
  }

  @media screen and (max-width: 1279px) {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
.price-item {
  @media screen and (min-width: 1280px) {
    flex-basis: 50%;
  }

  &:not(:last-child) {
    @media screen and (max-width: 1279px) {
      margin-bottom: 20px;
    }
  }
}
.price-item:first-child {
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
  }
}
.price-item:last-child {
  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
  }
}

.price-inner-list {
  @media screen and (min-width: 1280px) {
    padding: 30px 40px;
  }
}

.price-inner-item {
  display: flex;
  align-items: baseline;
}
.price-inner-item:not(:last-child) {
  margin-bottom: 20px;
}

.price-inner-item::before {
  content: "";
  display: inline-block;
  flex-grow: 1;
  height: 1px;
  margin-left: 6px;
  margin-right: 6px;

  background-color: rgba(157, 164, 189, 0.12);
}
.price-inner-txt {
  flex-shrink: 0;
}
.price-inner-txt:first-child {
  order: -1;
}

.price-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
